@model ZLERP.Model.StuffInfoPrice 
@section HeaderSection{ 
<script src="@Url.Content("~/Scripts/Views/StuffInfoPrice/StuffInfoPrice.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            StuffInfoPriceIndexInit('@Url.Action("Find")');
        });
</script>
}
<div id="MyJqGrid"></div>
<div id="MyFormDiv" class="mvcform" style="display:none;">
@using (Html.BeginForm())
{@Html.ValidationSummary()
<table class="mvcform"> 
    <tr> 
        <td>@Html.TextBoxFor(m => m.ID, new { Style = "display:none" }) 
        @Html.LabelFor(m => m.StuffName)@Html.DropDownListFor(m => m.StuffID, (IEnumerable<SelectListItem>)ViewBag.StuffList)</td>
  </tr>
    <tr> 
        <td>@Html.LabelFor(m=>m.price)@Html.EditorFor(m => m.price, "0", new { data_val_number = "字段 单价 必须是一个数字", data_val = "true" } )</td>
   
    </tr>
    <tr> 
        <td>@Html.LabelFor(m=>m.year1)@Html.DropDownListFor(m => m.year1, (IEnumerable<SelectListItem>)ViewBag.year)</td>
        
  </tr>
  <tr>
    <td>@Html.LabelFor(m=>m.month1)@Html.DropDownListFor(m => m.month1, (IEnumerable<SelectListItem>)ViewBag.month)</td>
  </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.Remark)@Html.TextAreaFor(m => m.Remark)</td>
    </tr>
</table>

}
</div>
