@*角色权限设置*@

@model ZLERP.Model.Role
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/Role/Role.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            roleIndexInit({
                storeUrl: '@Url.Action("Find")',
                getRoleFuncsUrl: '@Url.Action("GetRoleFuncs")',
                sysFuncTreeUrl: '@Url.Action("FindTree", "SysFunc")',
                getUsersUrl: '@Url.Action("Find","UserRole")',
                getUnRoleUserUrl: '@Url.Action("getUnRoleUser","UserRole")',
                AddRoleUserUrl: '@Url.Action("AddRoleUser","UserRole")',
                removeRoleUserUrl: '@Url.Action("RemoveRoleUser","UserRole")'
            });
        });
    </script>
 
}

<table width="100%">
    <tbody>
        <tr>
             <td >
                <div id="My-JqGrid" style="float: right; width: 100%; overflow: auto;">
                </div>
            </td>
            <td width="600" >
                
                <div >                            
                  <div id="sysFuncs" class="ztree" style="overflow: scroll;">
                  </div>
                </div>
            </td>
            
        </tr>
    </tbody>
</table>

<div id="My-FormDiv" style="display: none;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <table class="mvcform" style="width: 100%">
            <tr>
                <td style="display: none">@Html.LabelFor(m => m.ID)@Html.EditorFor(m => m.ID)
                </td>
                <td>@Html.LabelFor(m => m.RoleName)@Html.EditorFor(m => m.RoleName)
                </td>
               
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Remark)@Html.EditorFor(m => m.Remark)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.IsAdministrator)@Html.CheckBoxFor(m => m.IsAdministrator)
                </td>
            </tr>
        </table>

    }
</div>

<div id="allotRoleUserForm" style="display: none;">
    
     @using (Html.BeginForm())
     {
        @Html.ValidationSummary()
        <table style="width: 100%">
          <tr>
             <td>
                <div id="roleList" style="width: 100%"></div>
             </td>
             <td>
                <div id="userList" style="float: left; width: 100%"></div>
             </td>
          </tr>
        </table>
         
        @*<!-- 左边 -->
        <div id="roleList" style="float: left; width: 42%">
        
        </div>

        <!-- 右边Grid -->
        <div id="userList" style="float: right; width: 56%">
        
        </div>*@

     }
</div>

<div id="unRoleUserForm" style="display: none;">
    
     @using (Html.BeginForm())
     {
        @Html.ValidationSummary()
        <input type="hidden" id="ckroleid"/>
        <div id="unroleUserList" style="float: left; width: 100%">
        
        </div>

     }
</div>




